body { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    min-width: 1024px;
}
.container {
    max-width: 40%;
    text-align: center;
    border: 3px solid #113f67; 
    border-radius: 1rem;
    margin: 4rem auto;
    background-color: #e7eaf6;
    color:#113f67
}
h1{
    font-size: 2.5rem;
    padding: 2rem 1rem;
}
#dataBox, #selectFunc, button {
    border-radius: 0.5rem;
    font-size: 1.2rem;
}
button{
    background-color: #a2a8d3;
}
#outputArea{
    width: 41rem;
    padding: 2rem 0;
    margin: 2rem 3.2rem;
    border: 0.5px solid black;
    border-radius: 1rem;
    text-align: center;
    justify-content: center;
    background-color: white;
}
label{ 
    font-size: 1.4rem;
}
