body { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.container {
    max-width: 650px;
    text-align: center;
    border: 3px solid #113f67; 
    border-radius: 1rem;
    margin: 4rem auto;
    background-color: #e7eaf6;
    color:#113f67
}
h1{
    font-size: 2rem;
    padding: 1rem 1rem;
}
#dataBox, #selectFunc {
    border-radius: 0.5rem;
    padding: 0.3rem;
}
button{
    background-color: #a2a8d3;
    border-radius: 0.5rem;
}
.invalid-input{
    border: 1px solid red;
}
#outputArea{
    margin: 2rem 3rem;
    padding: 1.5rem;
    border: 0.5px solid #113f67; 
    border-radius: 1rem;
    text-align: center;
    background-color: white;
    font-weight: 700;
}

@media only screen and (max-width: 768px) { 
    .container {
        max-width: 80%;
    }
    #dataBox, #selectFunc, button {
        margin: 0.5rem;
    }
    #label{
        font-size: 0.3rem; 
    }
}

@media only screen and (max-width: 480px) {
    .container {
        max-width: 90%;
    }
}
